
body {
    margin: 0;
}

#container {
    width: 100%;
    margin: 10px auto 0 auto;
    text-align: center;
}

#header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 7%;
    background-color: steelblue;
    padding-top: 7px;
}

#header span {
    color: white;
    font-size: 30px;
    vertical-align: middle;
}

#optimalchat {
    position: absolute;
    top: 7%;
    width: 100%;
    height: 86%;
    display: block;
    color: #34495e;
    margin: 0 0 25px 0;
    background-color: aliceblue;
    overflow: auto;
}

#optimalchat li {
    display: table;
    padding: 10px;
    margin: 7px 13px;
    font-size: 17px;
    line-height: 25px;

    -webkit-border-top-left-radius: 6px;
    -webkit-border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -moz-border-radius-topleft: 6px;
    -moz-border-radius-topright: 6px;
    -moz-border-radius-bottomright: 6px;
    -moz-border-radius-bottomleft: 6px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

#optimalchat .server-res {
    background-color: #ecf0f1;
    max-width: 300px;
    clear: both;
    float: left;
    font-size : 14px;
}

#optimalchat .server-res:after {
    content: ' ';
    position: relative;
    top: auto;
    bottom: auto;
    border: 12px solid;
    border-color: transparent transparent #ecf0f1 transparent;
    margin: 0 0 0 -24px;
    float: left;
}

#optimalchat .client-req {
    background-color: #C1E4EC;
    max-width: 200px;
    height: auto;
    clear: both;
    float: right;
}

#optimalchat .client-req:after {
    content: ' ';
    position: relative;
    bottom: auto;
    border: 12px solid;
    border-color: transparent transparent #C1E4EC transparent;
    margin: 0 -24px 0 0;
    float: right;
}

#optimalchat li span {
    padding: 0 0 5px;
    color: #7f8c8d;
    display: block;
}

#user-input {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 7%;
    width: 100%;
}

#query-text {
    width: 79%;
    height: 100%;
    margin:0;
    line-height: 40px;
    font-size: 20px;
    float: left;
    border: 0;
    text-indent: 10px;
}

#send-query {
    width: 19%;
    height: 100%;
    margin:0;
    float: right;
    background-color: steelblue;
    color: white;
}
